/* Reset / Basics */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #ececec;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

#wrap {
  margin: auto; /* nimmt den verbleibenden Platz ein */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%-24px;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

h1 {
    display: flex;
    color: #11658e;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  flex-direction: row;                                
  align-items: flex-end;/* Labels oben ausrichten */
  gap: 10px; 
  margin: 20px 0 0; /* margin oben 20px, unten 0,  links/rechts 0 */
  width: 100%;
}

.label-input {
  display: flex;
  flex: 1 1 120px;
  flex-direction: column; 
  justify-content: space-between; 
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

input[type="date"],
input[type="time"],
input[type="text"],
input[type="number"],
select {
  width: 100%;           /* max. volle Containerbreite */
  max-width: 100%;
  box-sizing: border-box;
}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 12px;
  font-weight: 600;
}

form input, form select {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  border: 1px solid #167fb4;
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 300;
  color: grey;
  padding: 10px 12px;
}

form select {
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  padding: 1em 2em;
  background: linear-gradient(90deg, #167fb4, #aea7a7);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

footer {
  margin-top: 10px; 
  text-align: center;
  padding: 10px 0;
  font-size: 0.8rem;
  color: #888;
  width: 100%;
}
